ion-card > ion-card-title{
    margin-bottom: 20px;
}
ion-card{
    margin-top: 10px;
}
ion-card > span {
    padding: 5px;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0;
}
ul> li {
    padding-left: 10px;
    padding-bottom: 5px;
}

