<ion-header class="ion-no-border" style="margin-top:30px; margin-left: 10px;"> 
  <span padding style="font-size:12px;color:#263A55;" *ngIf="cliente">{{cliente.cod_ejec_venta}} - {{cliente.ejecutivo}} </span> <br>
  <div padding style="color:#263A55;" *ngIf="cliente"><b style="font-size:25px;">{{cliente.nombre}}</b></div>



</ion-header>

<ion-content>
  <div class="content-panel">
  

  <ion-row>
    <ion-col>
      <button  id="ticket" (click)="bitacoraModal()">
        <ion-icon name="bookmarks-outline" style="font-size:16px ; margin:0; padding:0;margin-top:-3px;margin-left: 5px;" ></ion-icon>
        BITACORA Y TICKET </button>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button (click)="infoModal()" id="informacion">Información
        <ion-icon name="bookmarks-outline"  ></ion-icon>

      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="boton-md" style="margin-left:5%;margin-right: 5px;" (click)="usuariosModal()">
      <ion-icon name="people-outline" class="iconos" ></ion-icon>
        Usuarios

    </ion-col>
    <ion-col class="boton-md" style="margin-right:5% ;" (click)="movilesModal()">
      <ion-icon name="car-outline" class="iconos"></ion-icon>
        Moviles 
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col id="herramientas" >
      <ion-icon name="hammer-outline"></ion-icon>
        HERRAMIENTAS
    </ion-col>
  </ion-row>
</div>
  
</ion-content>
<ion-footer>
  <ion-button [routerLink]="['/clientes']" expand="block" color="primary">Volver</ion-button>
  </ion-footer>

