<ion-header class="ion-no-border"> 
  <span padding style="font-size:12px;color:#263A55; margin: 10px;" *ngIf="cliente">{{cliente.cod_ejec_venta}} - {{cliente.ejecutivo}} </span> <br>
  <div padding style="color:#263A55; margin-top: 10px; margin-left: 5px;" *ngIf="cliente"><b style="font-size:25px;">{{cliente.nombre}}</b></div>



</ion-header>

<ion-content>
  <div class="content-panel">
  

  <ion-row>
    <ion-col>
      <button  id="ticket">
        <ion-icon name="bookmarks-outline" style="font-size:16px ; margin:0; padding:0;margin-top:-3px;margin-left: 5px;" ></ion-icon>
        BITACORA Y TICKET </button>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button (click)="infoModal()" id="informacion">Información
        <ion-icon name="bookmarks-outline"  ></ion-icon>

      </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col >
      <button class="boton-md" style="margin-left:20% ;">Usuarios</button>

    </ion-col>
    <ion-col >
      <button class="boton-md" style="margin-left:-20%">Moviles</button>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button (click)="infoModal()" expand="full">HERRAMIENTAS</ion-button>

    </ion-col>
  </ion-row>
</div>
  


</ion-content>

