#sin_moviles{
    height: 40px;
    width: 80%;
    background-color: #263a55;
    color: white;
    border-radius: 5px;
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 30px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}