ion-list,ion-item, .list-md, ion-menu{
  --background: var(--ion-color-bluedark) !important;
   --color: #FFFFFF !important;
   ion-icon{ padding-right: 10px !important; 
    color: #FFFFFF!important;}
}
.list-md{
  padding: 0!important;
}
