<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" auto-hide="true">
      <ion-list lines="none">
        <ion-item>
          <ion-label> Panel </ion-label>
          <ion-icon name="apps" class="iconos" slot="start"></ion-icon>
        </ion-item>
        <ion-item [routerLink]="['/clientes']">
          <ion-label> Clientes </ion-label>
          <ion-icon name="people" class="iconos" slot="start"></ion-icon>
        </ion-item>
        <ion-accordion-group>
          <ion-accordion value="tickets">
            <ion-item slot="header" type="full">
              <ion-label>Tickets</ion-label>
              <ion-icon name="bookmark" class="iconos" slot="start"></ion-icon>
            </ion-item>

            <ion-list slot="content">
              <ion-item [routerLink]="['/create-ticket']" menu-close>
                <ion-label> Crear Ticket</ion-label>
                <ion-icon name="create-outline" slot="start"></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/ticket-pendientes']">
                <ion-label> Tickets Pendientes</ion-label>
                <ion-icon
                  name="chatbubble-ellipses-outline"
                  slot="start"
                ></ion-icon>
              </ion-item>
              <ion-item [routerLink]="['/ticket-realizados']">
                <ion-label> Tickets Realizados</ion-label>
                <ion-icon
                  name="checkmark-circle-outline"
                  slot="start"
                ></ion-icon>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
        <ion-item [routerLink]="['/suspendidos']">
          <ion-label> Suspendidos </ion-label>
          <ion-icon
            name="remove-circle-outline"
            class="iconos"
            slot="start"
          ></ion-icon>
        </ion-item>
        <ion-item [routerLink]="['/archivos']">
          <ion-label> Archivos </ion-label>
          <ion-icon name="archive" class="iconos" slot="start"></ion-icon>
        </ion-item>
        <ion-item [routerLink]="['/cuenta']">
          <ion-label> Cuenta </ion-label>
          <ion-icon name="person" class="iconos" slot="start"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
