<ion-toolbar color="bluedark">
        <ion-icon slot="start" color="light" name="people-outline"  size="large"></ion-icon>
        <ion-title color="light">Clientes</ion-title>
</ion-toolbar>
<ion-toolbar>
    <ion-searchbar #search animated (ionChange)="clienteChange($event)"></ion-searchbar>

</ion-toolbar>
<ion-content>

    <ion-list>
        <ion-item *ngFor="let cliente of searchItem " [routerLink]="['/info-cliente/'+cliente.codigo_abonado]">
            <ion-label>{{cliente.codigo_abonado }} - {{cliente.nombre}}</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
<
